[mol_expander_content] {
	padding-left: 2.25rem;
	display: block;
}

[mol_expander_content] [mol_expander_content] {
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	background: hsla( 0deg , 0% , 50% , .05 );
}
